.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.modal_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.modal_box {
  position: relative;
  width: 80%;
  margin: 0 10%;
  padding: 50px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: white;
  cursor: auto;
}

.modal_title {
  color: var(--primary-color);
  font-size: 30px;
}
.buttons {
  display: flex;
  flex-direction: row;
  gap: 25px;
  margin-top: 25px;
}

.content {
  margin-top: 25px;
  color: var(--text-color);
  font-size: 16px;
}

.modal_close_icon {
  position: absolute;
  top: 20px;
  right: 20px;
  transition: transform 250ms ease-in-out;
  transform-origin: 50% 50%;
  cursor: pointer;
}

.modal_close_icon:hover {
  transform: rotate(180deg);
}

@media screen and (min-width: 800px) {
  .modal_box {
    max-width: 600px;
    margin: 0 30px;
  }
}
